__pycache__/
*.pyc

# Replay buffer data, too large for the repository.
outputs/**/replay/
outputs/train/tetris_400m_latest/replay_old/

# Exceed GitHub's 2 GiB LFS file size limit.
outputs/train/tetris/ckpt/*/agent.pkl
outputs/train/tetris_400m_latest/ckpt/*/agent.pkl
